# Draft Notebook, Query Dataset

In [1]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Import preprocessing functions
from src.data.preprocessing import (
    remove_invalid_rows,
    handle_missing_values,
    remove_duplicates,
    validate_data_types,
    handle_outliers,
    preprocessing_pipeline
)

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette('husl')

print("✓ Imports complete")

✓ Imports complete

In [2]:
# Reload external files
%load_ext autoreload
%autoreload 2

In [4]:
# Load the combined dataset
input_path = '../data/processed/flight_delays_cleaned.csv'
df = pd.read_csv(input_path)

print(f"Raw data shape: {df.shape}")
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print(f"\nFirst few rows:")
df.head()

Raw data shape: (1527160, 17)
Memory usage: 668.48 MB

First few rows:

,Carrier Code,Date (YYYY-MM-DD),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),Wheels-on Time,Taxi-In time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,9E,2019-01-01,3280,N8688C,GNV,07:23,07:22,83,81,-1,07:14,8,0,0,0,0,0
1,9E,2019-01-01,3283,N8886A,TLH,16:39,16:25,72,64,-14,16:18,7,0,0,0,0,0
2,9E,2019-01-01,3286,N915XJ,JAN,18:23,18:32,85,99,9,18:18,14,0,0,0,0,0
3,9E,2019-01-01,3289,N311PQ,BMI,17:07,17:00,112,110,-7,16:55,5,0,0,0,0,0
4,9E,2019-01-01,3290,N931XJ,CAK,08:09,07:37,129,100,-32,07:31,6,0,0,0,0,0

In [6]:
df[df["Arrival Delay (Minutes)"] > 1500]

,Carrier Code,Date (YYYY-MM-DD),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Arrival Delay (Minutes),Wheels-on Time,Taxi-In time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
151593,AA,2023-05-24,2338,N943NN,MIA,17:32,21:46,122,138,1694,21:32,14,368,0,16,0,1310
153878,AA,2023-06-12,202,N130AN,MIA,16:23,17:41,118,123,1518,17:36,5,0,0,5,0,1513
157458,AA,2023-07-11,1224,N543UW,PHX,23:47,01:38,229,219,1551,01:26,12,72,0,0,0,1479
158368,AA,2023-07-18,1315,N915US,LAX,17:14,20:14,283,258,1620,20:09,5,1620,0,0,0,0